<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvernoteCloneGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EvernoteCloneGUI.Properties.Settings>
      <setting name="LastSelectedLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="LoginViewLocal" serializeAs="String">
        <value>Or use it</value>
      </setting>
      <setting name="LoginViewLocalHyperlink" serializeAs="String">
        <value>Locally</value>
      </setting>
      <setting name="LoginViewLogin" serializeAs="String">
        <value>Login</value>
      </setting>
      <setting name="LoginViewPassword" serializeAs="String">
        <value>Password</value>
      </setting>
      <setting name="LoginViewRegister" serializeAs="String">
        <value>Register</value>
      </setting>
      <setting name="LoginViewUsername" serializeAs="String">
        <value>Username</value>
      </setting>
      <setting name="NewNoteViewEditDelete" serializeAs="String">
        <value>Delete</value>
      </setting>
      <setting name="NewNoteViewEdit" serializeAs="String">
        <value>Edit</value>
      </setting>
      <setting name="NewNoteViewEditCopy" serializeAs="String">
        <value>Copy</value>
      </setting>
      <setting name="NewNoteViewEditCut" serializeAs="String">
        <value>Cut</value>
      </setting>
      <setting name="NewNoteViewEditFindAndReplaceAll" serializeAs="String">
        <value>Find and Replace All</value>
      </setting>
      <setting name="NewNoteViewEditFindNext" serializeAs="String">
        <value>Find Next</value>
      </setting>
      <setting name="NewNoteViewEditFindPrevious" serializeAs="String">
        <value>Find Previous</value>
      </setting>
      <setting name="NewNoteViewEditReplaceWithinNote" serializeAs="String">
        <value>Replace Withing Note</value>
      </setting>
      <setting name="NewNoteViewEditFindWithinNote" serializeAs="String">
        <value>Find Within Note</value>
      </setting>
      <setting name="NewNoteViewEditPaste" serializeAs="String">
        <value>Paste</value>
      </setting>
      <setting name="NewNoteViewEditRedo" serializeAs="String">
        <value>Redo</value>
      </setting>
      <setting name="NewNoteViewEditSelectAll" serializeAs="String">
        <value>Select All</value>
      </setting>
      <setting name="NewNoteViewEditUndo" serializeAs="String">
        <value>Undo</value>
      </setting>
      <setting name="NewNoteViewFont" serializeAs="String">
        <value>Font</value>
      </setting>
      <setting name="NewNoteViewCenter" serializeAs="String">
        <value>Center</value>
      </setting>
      <setting name="NewNoteViewFile" serializeAs="String">
        <value>File</value>
      </setting>
      <setting name="NewNoteViewFileAttach" serializeAs="String">
        <value>Attach File</value>
      </setting>
      <setting name="NewNoteViewFileClose" serializeAs="String">
        <value>Close</value>
      </setting>
      <setting name="NewNoteViewFileExport" serializeAs="String">
        <value>Export</value>
      </setting>
      <setting name="NewNoteViewFileImport" serializeAs="String">
        <value>Import</value>
      </setting>
      <setting name="NewNoteViewFileOpen" serializeAs="String">
        <value>Open</value>
      </setting>
      <setting name="NewNoteViewFileSave" serializeAs="String">
        <value>Save</value>
      </setting>
      <setting name="NewNoteViewIndent" serializeAs="String">
        <value>Indent</value>
      </setting>
      <setting name="NewNoteViewUndent" serializeAs="String">
        <value>Undent</value>
      </setting>
      <setting name="NewNoteViewInsert" serializeAs="String">
        <value>Insert</value>
      </setting>
      <setting name="NewNoteViewLeft" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="NewNoteViewRight" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="NewNoteViewFontSize" serializeAs="String">
        <value>Font Size</value>
      </setting>
      <setting name="NewNoteViewNote" serializeAs="String">
        <value>Note</value>
      </setting>
      <setting name="NewNoteViewNoteCopy" serializeAs="String">
        <value>Copy</value>
      </setting>
      <setting name="NewNoteViewNoteDuplicate" serializeAs="String">
        <value>Duplicate Note</value>
      </setting>
      <setting name="NewNoteViewNoteMove" serializeAs="String">
        <value>Move</value>
      </setting>
      <setting name="NewNoteViewShare" serializeAs="String">
        <value>Share</value>
      </setting>
      <setting name="NewNoteViewShareWithOthers" serializeAs="String">
        <value>Share with others</value>
      </setting>
      <setting name="NewNoteViewView" serializeAs="String">
        <value>View</value>
      </setting>
      <setting name="NewNoteViewViewStatusBar" serializeAs="String">
        <value>View status bar</value>
      </setting>
      <setting name="NotebookNotesMenuViewNotes" serializeAs="String">
        <value>notes</value>
      </setting>
      <setting name="NoteFeverViewAllNotes" serializeAs="String">
        <value>All Notes</value>
      </setting>
      <setting name="NoteFeverViewBin" serializeAs="String">
        <value>Bin</value>
      </setting>
      <setting name="NoteFeverViewChangeUser" serializeAs="String">
        <value>Change User</value>
      </setting>
      <setting name="NoteFeverViewNewNote" serializeAs="String">
        <value>New Note</value>
      </setting>
      <setting name="NoteFeverViewSettings" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="NoteFeverViewSharedWithMe" serializeAs="String">
        <value>Shared With Me</value>
      </setting>
      <setting name="NoteFeverViewTags" serializeAs="String">
        <value>Tags</value>
      </setting>
      <setting name="RegisterViewConfirmPassword" serializeAs="String">
        <value>Confirm Password</value>
      </setting>
      <setting name="RegisterViewPassword" serializeAs="String">
        <value>Password</value>
      </setting>
      <setting name="RegisterViewFirstName" serializeAs="String">
        <value>First Name</value>
      </setting>
      <setting name="RegisterViewLastName" serializeAs="String">
        <value>Last Name</value>
      </setting>
      <setting name="RegisterViewEmail" serializeAs="String">
        <value>Email</value>
      </setting>
      <setting name="RegisterViewRegister" serializeAs="String">
        <value>Register</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewCancel" serializeAs="String">
        <value>Cancel</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewColumns" serializeAs="String">
        <value>Insert the amount of columns:</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewRows" serializeAs="String">
        <value>Insert the amount of rows:</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewSubmit" serializeAs="String">
        <value>Submit</value>
      </setting>
      <setting name="ValueRequestViewCancel" serializeAs="String">
        <value>Cancel</value>
      </setting>
      <setting name="ValueRequestViewSubmit" serializeAs="String">
        <value>Submit</value>
      </setting>
      <setting name="NewNoteViewInsertTable" serializeAs="String">
        <value>Insert Table</value>
      </setting>
      <setting name="NewNoteViewInsertHorizontalLine" serializeAs="String">
        <value>Insert Horizontal Line</value>
      </setting>
      <setting name="NewNoteViewInsertCode" serializeAs="String">
        <value>Insert Code</value>
      </setting>
      <setting name="NewNoteViewInsertOrderedList" serializeAs="String">
        <value>Insert Ordered List</value>
      </setting>
      <setting name="NewNoteViewInsertUnorderedList" serializeAs="String">
        <value>Insert Unordered List</value>
      </setting>
      <setting name="NotebookNotesMenuViewTitle" serializeAs="String">
        <value>Nameless notebook</value>
      </setting>
      <setting name="NoteElementViewTitle" serializeAs="String">
        <value>Nameless note</value>
      </setting>
      <setting name="NoteElementViewCreationDate" serializeAs="String">
        <value>05-07-1999</value>
      </setting>
      <setting name="LoginViewWindowTitle" serializeAs="String">
        <value>Login</value>
      </setting>
      <setting name="NoteFeverWindowTitle" serializeAs="String">
        <value>Note Fever</value>
      </setting>
      <setting name="RegisterViewWindowTitle" serializeAs="String">
        <value>Register</value>
      </setting>
      <setting name="SettingsViewWindowTitle" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="SettingsViewTitle" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="SettingsViewEditor" serializeAs="String">
        <value>Editor</value>
      </setting>
      <setting name="SettingsViewStandards" serializeAs="String">
        <value>Standards</value>
      </setting>
      <setting name="SettingsViewLayout" serializeAs="String">
        <value>Layout</value>
      </setting>
      <setting name="SettingsViewLanguage" serializeAs="String">
        <value>Language</value>
      </setting>
      <setting name="NotebookPickerViewWindowTitle" serializeAs="String">
        <value>Note Fever | specify notebook</value>
      </setting>
      <setting name="NotebookPickerViewSpecifyANotebook" serializeAs="String">
        <value>Specify a notebook to move the note to:</value>
      </setting>
      <setting name="NotebookPickerViewCancel" serializeAs="String">
        <value>Cancel</value>
      </setting>
      <setting name="NotebookPickerViewSubmit" serializeAs="String">
        <value>Submit</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewWindowTitle" serializeAs="String">
        <value>Note Fever | Specify table rows and columns</value>
      </setting>
      <setting name="EditorViewFont" serializeAs="String">
        <value>Default font:</value>
      </setting>
      <setting name="EditorViewFontSize" serializeAs="String">
        <value>Default font size:</value>
      </setting>
      <setting name="EditorViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
      <setting name="EditorViewDefaultFont" serializeAs="String">
        <value>Standard: Arial</value>
      </setting>
      <setting name="EditorViewDefaultFontSize" serializeAs="String">
        <value>Standard: 11</value>
      </setting>
      <setting name="LanguageViewDisplayLanguage" serializeAs="String">
        <value>Display language:</value>
      </setting>
      <setting name="LanguageViewDefaultDisplayLanguage" serializeAs="String">
        <value>Standard: English (United States) / en-US</value>
      </setting>
      <setting name="LanguageViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
      <setting name="LayoutViewButtonBackgroundColor" serializeAs="String">
        <value>Button background color:</value>
      </setting>
      <setting name="LayoutViewDefaultButtonBackgroundColor" serializeAs="String">
        <value>Standard: #404040</value>
      </setting>
      <setting name="LayoutViewAccentColor" serializeAs="String">
        <value>Accent color (e.g. Active button):</value>
      </setting>
      <setting name="LayoutViewDefaultAccentColor" serializeAs="String">
        <value>Standard: #0052cc</value>
      </setting>
      <setting name="LayoutViewBackgroundColor" serializeAs="String">
        <value>Background color settings:</value>
      </setting>
      <setting name="LayoutViewDefaultBackgroundColor" serializeAs="String">
        <value>Standard: #ffbfcd</value>
      </setting>
      <setting name="LayoutViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
      <setting name="StandardsViewNoteTitle" serializeAs="String">
        <value>Default note title:</value>
      </setting>
      <setting name="StandardsViewDefaultNoteTitle" serializeAs="String">
        <value>Standard: Nameless note</value>
      </setting>
      <setting name="StandardsViewNotebookTitle" serializeAs="String">
        <value>Default notebook title:</value>
      </setting>
      <setting name="StandardsViewDefaultNotebookTitle" serializeAs="String">
        <value>Standard: Nameless notebook</value>
      </setting>
      <setting name="StandardsViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
    </EvernoteCloneGUI.Properties.Settings>
  </userSettings>
</configuration>