<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvernoteCloneGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EvernoteCloneGUI.Properties.Settings>
      <setting name="LastSelectedLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="LoginViewLocal" serializeAs="String">
        <value>Or use it</value>
      </setting>
      <setting name="LoginViewLocalHyperlink" serializeAs="String">
        <value>Locally</value>
      </setting>
      <setting name="LoginViewLogin" serializeAs="String">
        <value>Login</value>
      </setting>
      <setting name="LoginViewPassword" serializeAs="String">
        <value>Password</value>
      </setting>
      <setting name="LoginViewRegister" serializeAs="String">
        <value>Register</value>
      </setting>
      <setting name="LoginViewUsername" serializeAs="String">
        <value>Username</value>
      </setting>
      <setting name="NewNoteViewEditDelete" serializeAs="String">
        <value>Delete</value>
      </setting>
      <setting name="NewNoteViewEdit" serializeAs="String">
        <value>Edit</value>
      </setting>
      <setting name="NewNoteViewEditCopy" serializeAs="String">
        <value>Copy</value>
      </setting>
      <setting name="NewNoteViewEditCut" serializeAs="String">
        <value>Cut</value>
      </setting>
      <setting name="NewNoteViewEditFindAndReplaceAll" serializeAs="String">
        <value>Find and Replace All</value>
      </setting>
      <setting name="NewNoteViewEditFindNext" serializeAs="String">
        <value>Find Next</value>
      </setting>
      <setting name="NewNoteViewEditFindPrevious" serializeAs="String">
        <value>Find Previous</value>
      </setting>
      <setting name="NewNoteViewEditReplaceWithinNote" serializeAs="String">
        <value>Replace Withing Note</value>
      </setting>
      <setting name="NewNoteViewEditFindWithinNote" serializeAs="String">
        <value>Find Within Note</value>
      </setting>
      <setting name="NewNoteViewEditPaste" serializeAs="String">
        <value>Paste</value>
      </setting>
      <setting name="NewNoteViewEditRedo" serializeAs="String">
        <value>Redo</value>
      </setting>
      <setting name="NewNoteViewEditSelectAll" serializeAs="String">
        <value>Select All</value>
      </setting>
      <setting name="NewNoteViewEditUndo" serializeAs="String">
        <value>Undo</value>
      </setting>
      <setting name="NewNoteViewFont" serializeAs="String">
        <value>Font</value>
      </setting>
      <setting name="NewNoteViewCenter" serializeAs="String">
        <value>Center</value>
      </setting>
      <setting name="NewNoteViewFile" serializeAs="String">
        <value>File</value>
      </setting>
      <setting name="NewNoteViewFileAttach" serializeAs="String">
        <value>Attach File</value>
      </setting>
      <setting name="NewNoteViewFileClose" serializeAs="String">
        <value>Close</value>
      </setting>
      <setting name="NewNoteViewFileExport" serializeAs="String">
        <value>Export</value>
      </setting>
      <setting name="NewNoteViewFileImport" serializeAs="String">
        <value>Import</value>
      </setting>
      <setting name="NewNoteViewFileOpen" serializeAs="String">
        <value>Open</value>
      </setting>
      <setting name="NewNoteViewFileSave" serializeAs="String">
        <value>Save</value>
      </setting>
      <setting name="NewNoteViewIndent" serializeAs="String">
        <value>Indent</value>
      </setting>
      <setting name="NewNoteViewUndent" serializeAs="String">
        <value>Undent</value>
      </setting>
      <setting name="NewNoteViewInsert" serializeAs="String">
        <value>Insert</value>
      </setting>
      <setting name="NewNoteViewLeft" serializeAs="String">
        <value>Left</value>
      </setting>
      <setting name="NewNoteViewRight" serializeAs="String">
        <value>Right</value>
      </setting>
      <setting name="NewNoteViewFontSize" serializeAs="String">
        <value>Font Size</value>
      </setting>
      <setting name="NewNoteViewNote" serializeAs="String">
        <value>Note</value>
      </setting>
      <setting name="NewNoteViewNoteCopy" serializeAs="String">
        <value>Copy</value>
      </setting>
      <setting name="NewNoteViewNoteDuplicate" serializeAs="String">
        <value>Duplicate Note</value>
      </setting>
      <setting name="NewNoteViewNoteMove" serializeAs="String">
        <value>Move</value>
      </setting>
      <setting name="NewNoteViewShare" serializeAs="String">
        <value>Share</value>
      </setting>
      <setting name="NewNoteViewShareWithOthers" serializeAs="String">
        <value>Share with others</value>
      </setting>
      <setting name="NewNoteViewView" serializeAs="String">
        <value>View</value>
      </setting>
      <setting name="NewNoteViewViewStatusBar" serializeAs="String">
        <value>View status bar</value>
      </setting>
      <setting name="NotebookNotesMenuViewNotes" serializeAs="String">
        <value>note(s)</value>
      </setting>
      <setting name="NoteFeverViewAllNotes" serializeAs="String">
        <value>All Notes</value>
      </setting>
      <setting name="NoteFeverViewBin" serializeAs="String">
        <value>Bin</value>
      </setting>
      <setting name="NoteFeverViewChangeUser" serializeAs="String">
        <value>Change User</value>
      </setting>
      <setting name="NoteFeverViewNewNote" serializeAs="String">
        <value>New Note</value>
      </setting>
      <setting name="NoteFeverViewSettings" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="NoteFeverViewSharedWithMe" serializeAs="String">
        <value>Shared With Me</value>
      </setting>
      <setting name="NoteFeverViewTags" serializeAs="String">
        <value>Tags</value>
      </setting>
      <setting name="RegisterViewConfirmPassword" serializeAs="String">
        <value>Confirm Password</value>
      </setting>
      <setting name="RegisterViewPassword" serializeAs="String">
        <value>Password</value>
      </setting>
      <setting name="RegisterViewFirstName" serializeAs="String">
        <value>First Name</value>
      </setting>
      <setting name="RegisterViewLastName" serializeAs="String">
        <value>Last Name</value>
      </setting>
      <setting name="RegisterViewEmail" serializeAs="String">
        <value>Email</value>
      </setting>
      <setting name="RegisterViewRegister" serializeAs="String">
        <value>Register</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewCancel" serializeAs="String">
        <value>Cancel</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewColumns" serializeAs="String">
        <value>Insert the amount of columns:</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewRows" serializeAs="String">
        <value>Insert the amount of rows:</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewSubmit" serializeAs="String">
        <value>Submit</value>
      </setting>
      <setting name="ValueRequestViewCancel" serializeAs="String">
        <value>Cancel</value>
      </setting>
      <setting name="ValueRequestViewSubmit" serializeAs="String">
        <value>Submit</value>
      </setting>
      <setting name="NewNoteViewInsertTable" serializeAs="String">
        <value>Insert Table</value>
      </setting>
      <setting name="NewNoteViewInsertHorizontalLine" serializeAs="String">
        <value>Insert Horizontal Line</value>
      </setting>
      <setting name="NewNoteViewInsertCode" serializeAs="String">
        <value>Insert Code</value>
      </setting>
      <setting name="NewNoteViewInsertOrderedList" serializeAs="String">
        <value>Insert Ordered List</value>
      </setting>
      <setting name="NewNoteViewInsertUnorderedList" serializeAs="String">
        <value>Insert Unordered List</value>
      </setting>
      <setting name="NotebookNotesMenuViewTitle" serializeAs="String">
        <value>Nameless notebook</value>
      </setting>
      <setting name="NoteElementViewTitle" serializeAs="String">
        <value>Nameless note</value>
      </setting>
      <setting name="NoteElementViewCreationDate" serializeAs="String">
        <value>05-07-1999</value>
      </setting>
      <setting name="LoginViewWindowTitle" serializeAs="String">
        <value>Login</value>
      </setting>
      <setting name="NoteFeverWindowTitle" serializeAs="String">
        <value>Note Fever</value>
      </setting>
      <setting name="RegisterViewWindowTitle" serializeAs="String">
        <value>Register</value>
      </setting>
      <setting name="SettingsViewWindowTitle" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="SettingsViewTitle" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="SettingsViewEditor" serializeAs="String">
        <value>Editor</value>
      </setting>
      <setting name="SettingsViewStandards" serializeAs="String">
        <value>Standards</value>
      </setting>
      <setting name="SettingsViewLayout" serializeAs="String">
        <value>Layout</value>
      </setting>
      <setting name="SettingsViewLanguage" serializeAs="String">
        <value>Language</value>
      </setting>
      <setting name="NotebookPickerViewWindowTitle" serializeAs="String">
        <value>Note Fever | specify notebook</value>
      </setting>
      <setting name="NotebookPickerViewSpecifyANotebook" serializeAs="String">
        <value>Specify a notebook to move the note to:</value>
      </setting>
      <setting name="NotebookPickerViewCancel" serializeAs="String">
        <value>Cancel</value>
      </setting>
      <setting name="NotebookPickerViewSubmit" serializeAs="String">
        <value>Submit</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewWindowTitle" serializeAs="String">
        <value>Note Fever | Specify table rows and columns</value>
      </setting>
      <setting name="EditorViewFont" serializeAs="String">
        <value>Default font:</value>
      </setting>
      <setting name="EditorViewFontSize" serializeAs="String">
        <value>Default font size:</value>
      </setting>
      <setting name="EditorViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
      <setting name="EditorViewDefaultFont" serializeAs="String">
        <value>Standard: Arial</value>
      </setting>
      <setting name="EditorViewDefaultFontSize" serializeAs="String">
        <value>Standard: 11</value>
      </setting>
      <setting name="LanguageViewDisplayLanguage" serializeAs="String">
        <value>Display language:</value>
      </setting>
      <setting name="LanguageViewDefaultDisplayLanguage" serializeAs="String">
        <value>Standard: English (United States) / en-US</value>
      </setting>
      <setting name="LanguageViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
      <setting name="LayoutViewButtonBackgroundColor" serializeAs="String">
        <value>Button background color:</value>
      </setting>
      <setting name="LayoutViewDefaultButtonBackgroundColor" serializeAs="String">
        <value>Standard: #404040</value>
      </setting>
      <setting name="LayoutViewAccentColor" serializeAs="String">
        <value>Accent color (e.g. Active button):</value>
      </setting>
      <setting name="LayoutViewDefaultAccentColor" serializeAs="String">
        <value>Standard: #0052cc</value>
      </setting>
      <setting name="LayoutViewBackgroundColor" serializeAs="String">
        <value>Background color settings:</value>
      </setting>
      <setting name="LayoutViewDefaultBackgroundColor" serializeAs="String">
        <value>Standard: #ffbfcd</value>
      </setting>
      <setting name="LayoutViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
      <setting name="StandardsViewNoteTitle" serializeAs="String">
        <value>Default note title:</value>
      </setting>
      <setting name="StandardsViewDefaultNoteTitle" serializeAs="String">
        <value>Standard: Nameless note</value>
      </setting>
      <setting name="StandardsViewNotebookTitle" serializeAs="String">
        <value>Default notebook title:</value>
      </setting>
      <setting name="StandardsViewDefaultNotebookTitle" serializeAs="String">
        <value>Standard: Nameless notebook</value>
      </setting>
      <setting name="StandardsViewApplyChanges" serializeAs="String">
        <value>Apply changes</value>
      </setting>
      <setting name="StandardsViewLabelTitle" serializeAs="String">
        <value>Default label title:</value>
      </setting>
      <setting name="StandardsViewDefaultLabelTitle" serializeAs="String">
        <value>Standard: Nameless label</value>
      </setting>
      <setting name="NoteElementViewModelUnsavedChanges" serializeAs="String">
        <value>Are you sure? Unsaved changes will be lost.</value>
      </setting>
      <setting name="SettingViewModelSuccessfullySaved" serializeAs="String">
        <value>Settings successfully saved!</value>
      </setting>
      <setting name="SettingViewModelWronglySaved" serializeAs="String">
        <value>Something went wrong while trying to save settings.</value>
      </setting>
      <setting name="SettingViewModelTitle" serializeAs="String">
        <value>NoteFever | Settings</value>
      </setting>
      <setting name="TextBoxHelperOnlyGivenType" serializeAs="String">
        <value>The given input can only be of type </value>
      </setting>
      <setting name="LoginViewModelSuccessfullyLoggedIn" serializeAs="String">
        <value>You've been logged in with success!</value>
      </setting>
      <setting name="LoginViewModelTitle" serializeAs="String">
        <value>NoteFever | Login</value>
      </setting>
      <setting name="LoginViewModelUnsuccessfullLoginAttempt" serializeAs="String">
        <value>Password or Username is not correct. Please check again.</value>
      </setting>
      <setting name="NotebookPickerViewModelMoved" serializeAs="String">
        <value>The note {0} has been moved to the notebook {1}/{2}</value>
      </setting>
      <setting name="NotebookPickerViewModelTitle" serializeAs="String">
        <value>NoteFever | Notebook Picker</value>
      </setting>
      <setting name="NotebookPickerViewModelNotMoved" serializeAs="String">
        <value>Failed to move the note to the specified notebook.</value>
      </setting>
      <setting name="TableRowColumnSpecifierViewModelGreaterThanZero"
        serializeAs="String">
        <value>Please make sure that both the rows and columns are greater than 0</value>
      </setting>
      <setting name="MessageBoxTitleWarning" serializeAs="String">
        <value>NoteFever | Warning</value>
      </setting>
      <setting name="FieldsCantBeEmpty" serializeAs="String">
        <value>Fields can't be empty!</value>
      </setting>
      <setting name="MessageBoxTitleError" serializeAs="String">
        <value>NoteFever | Error</value>
      </setting>
      <setting name="NewNoteViewModelLabelAlreadyExists" serializeAs="String">
        <value>This label already exists!</value>
      </setting>
      <setting name="NoteElementViewModelPermanentlyDeleteNote" serializeAs="String">
        <value>Are you sure that you want to permanently delete this note?</value>
      </setting>
      <setting name="MessageBoxTitleFailed" serializeAs="String">
        <value>NoteFever | Failed</value>
      </setting>
      <setting name="NoteFeverViewModelCannotAddNoteToEmptyNotebook"
        serializeAs="String">
        <value>Cannot add new notes whilst not in a notebook</value>
      </setting>
      <setting name="NewNoteViewModelCantAddLabel" serializeAs="String">
        <value>You can't add labels to notes when they're not saved in the database.</value>
      </setting>
      <setting name="NoteElementViewModelLoggedInToUse" serializeAs="String">
        <value>You have to be logged in to use this functionality!</value>
      </setting>
      <setting name="NoteElementViewModelShareNote" serializeAs="String">
        <value>Please enter a valid username</value>
      </setting>
      <setting name="NoteElementViewModelShareNoteTitle" serializeAs="String">
        <value>NoteFever | Share Note</value>
      </setting>
      <setting name="NewNoteViewModelAddLabel" serializeAs="String">
        <value>Enter a label name</value>
      </setting>
      <setting name="NewNoteViewModelAddLabelTitle" serializeAs="String">
        <value>NoteFever | Add Label</value>
      </setting>
      <setting name="RegisterViewModelRegisterSuccessful" serializeAs="String">
        <value>Registration successful!</value>
      </setting>
      <setting name="MessageBoxTitleSuccessful" serializeAs="String">
        <value>NoteFever | Success</value>
      </setting>
      <setting name="RegisterViewModelRegistrationFailed" serializeAs="String">
        <value>Registration failed! Please try again.</value>
      </setting>
      <setting name="RegisterViewModelFieldsWithErrors" serializeAs="String">
        <value>Please fill in the fields with errors</value>
      </setting>
      <setting name="NoteFeverViewModelNoNotes" serializeAs="String">
        <value>There are no notes to view.</value>
      </setting>
      <setting name="NoteFeverViewModelNoSharedNotes" serializeAs="String">
        <value>There are no shared notes to view.</value>
      </setting>
      <setting name="MessageBoxTitleNotice" serializeAs="String">
        <value>NoteFever | Notice</value>
      </setting>
      <setting name="NoteElementViewModelSharedNote" serializeAs="String">
        <value>Successfully shared the note with {0}!</value>
      </setting>
      <setting name="NoteElementViewModelShareNoteUsernameDoesNotExist"
        serializeAs="String">
        <value>Username does not exist or make sure you're logged in.</value>
      </setting>
      <setting name="NewNoteViewModelSavedNote" serializeAs="String">
        <value>Note was saved successfully!</value>
      </setting>
      <setting name="NewNoteViewModelCouldntSaveNote" serializeAs="String">
        <value>We were unable to save your note.</value>
      </setting>
      <setting name="NoteFeverViewModelNoDeletedNotes" serializeAs="String">
        <value>There are no deleted notes.</value>
      </setting>
      <setting name="LoginViewModelGoogleLogin" serializeAs="String">
        <value>You've been logged in with a Google account.</value>
      </setting>
      <setting name="RichTextEditorCommandsProvideHexadecimal" serializeAs="String">
        <value>Please provide a valid hexadecimal color.</value>
      </setting>
      <setting name="NoteFeverTreeViewModelNoMoreThan" serializeAs="String">
        <value>You can't have more than 10 nested folders!</value>
      </setting>
      <setting name="NoteFeverTreeViewModelNewFolderTitle" serializeAs="String">
        <value>NoteFever | Create new folder</value>
      </setting>
      <setting name="NoteFeverTreeViewModelNewFolder" serializeAs="String">
        <value>What do you want your new folder to be called:</value>
      </setting>
      <setting name="NoteFeverTreeViewModelErrorWhileNewFolder" serializeAs="String">
        <value>Something happened while adding the folder, does it already exist?</value>
      </setting>
      <setting name="NoteFeverTreeViewModelNewNotebookTitle" serializeAs="String">
        <value>NoteFever | Create new notebook</value>
      </setting>
      <setting name="NoteFeverTreeViewModelNewNotebook" serializeAs="String">
        <value>What do you want your new notebook to be called:</value>
      </setting>
      <setting name="NoteFeverTreeViewModelErrorWhileNewNotebook" serializeAs="String">
        <value>Something happened while adding the notebook, does it already exist?</value>
      </setting>
      <setting name="RichTextEditorCommandsColorTitle" serializeAs="String">
        <value>Pick a color</value>
      </setting>
      <setting name="RichTextEditorCommandsInsertHEX" serializeAs="String">
        <value>Insert a HEX color to change the color to (without the '#')</value>
      </setting>
      <setting name="NoteFeverTreeViewModelAddFolder" serializeAs="String">
        <value>Add Folder</value>
      </setting>
      <setting name="NoteFeverTreeViewModelAddNotebook" serializeAs="String">
        <value>Add Notebook</value>
      </setting>
      <setting name="NoteFeverTreeViewModelRemove" serializeAs="String">
        <value>Remove</value>
      </setting>
      <setting name="NoteFeverTreeViewModelAddNote" serializeAs="String">
        <value>Add Note</value>
      </setting>
      <setting name="NoteFeverTreeViewModelMyNotebooks" serializeAs="String">
        <value>My Notebooks</value>
      </setting>
      <setting name="NoteFeverTreeViewModelTextBetween" serializeAs="String">
        <value>Text should be between {0} and {1} characters long. Also it can't contain the '/' character.</value>
      </setting>
      <setting name="NewNoteViewModelNamelessAuthor" serializeAs="String">
        <value>Nameless author</value>
      </setting>
      <setting name="NoteElementViewModelRestore" serializeAs="String">
        <value>Restore</value>
      </setting>
      <setting name="NoteElementViewModelDeletePermanently" serializeAs="String">
        <value>Delete permanently</value>
      </setting>
      <setting name="NoteElementViewModelRemove" serializeAs="String">
        <value>Remove</value>
      </setting>
      <setting name="NoteElementViewModelMove" serializeAs="String">
        <value>Move</value>
      </setting>
      <setting name="NoteElementViewModelShareNoteHeader" serializeAs="String">
        <value>Share Note</value>
      </setting>
      <setting name="NoteFeverViewModelSharedNotes" serializeAs="String">
        <value>Shared notes</value>
      </setting>
      <setting name="NoteFeverViewModelAllNotes" serializeAs="String">
        <value>All notes</value>
      </setting>
      <setting name="NoteFeverViewModelBin" serializeAs="String">
        <value>Bin</value>
      </setting>
      <setting name="RegisterViewModelPleaseEmail" serializeAs="String">
        <value>Please enter your email!</value>
      </setting>
      <setting name="RegisterViewModelPleasePassword" serializeAs="String">
        <value>Please enter valid password!</value>
      </setting>
      <setting name="RegisterViewModelNotEqual" serializeAs="String">
        <value>Password are not equal!</value>
      </setting>
      <setting name="RegisterViewModelUnknown" serializeAs="String">
        <value>An unknown error occured!</value>
      </setting>
      <setting name="RegisterViewModelAlreadyExists" serializeAs="String">
        <value>A user with that username (email) already exists!</value>
      </setting>
    </EvernoteCloneGUI.Properties.Settings>
  </userSettings>
</configuration>